html { overflow-y: scroll; }

body { font-family: sans-serif; }

.wrapper {
    visibility: visible;
}

/* ---- grid ---- */

.wrap-container {
    position: relative;
    height: 100%;
}

.masonry {
    padding: 60px 0;
}

.grid {
  background: #DDD;

}

#itemOne {
    // background-color: red;
    display: none;
    // position: absolute;
}
#itemTwo {
    // background-color: yellow;
    display: none;
    // border-radius: 50%;
}

.item-desc {
    background-color: rgba(0, 0, 0, 0.7);
    // display: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0.5;
    z-index: 10;
    top: 0px;

    animation: grow 2s linear forwards;
    animation: grow 2s linear forwards;
    animation: grow 2s linear forwards;
    // transition: all 1s ease-in;

    


    .closing {
        cursor: pointer;
        font-size: 72px;
        font-weight: bold;
        position: absolute;
        right: 90px;
        top: 90px;
        color: black;
    }
}

.item-desc__wrap-content {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 550px;

    h2 {
        opacity: 0;
        color: orangered;
        text-transform: uppercase;
        font-size: 58px;
        font-weight: 900;
        padding: 40px 0;
        transition: all 1s linear 2s;
        animation: showUp 1s linear forwards 2s;
        -moz-animation: showUp 1s linear forwards 2s;
        -o-animation: showUp 1s linear forwards 2s;
        -webkit-animation: showUp 1s linear forwards 2s;
    }
    p {
        opacity: 0;
        font-size: 24px;
        font-weight: 900;
        animation: showUp 1s linear forwards 2s;
    -moz-animation: showUp 1s linear forwards 2s;
    -o-animation: showUp 1s linear forwards 2s;
    -webkit-animation: showUp 1s linear forwards 2s;
    }
    
    @keyframes showUp {
        0% {opacity: 0}
        100% {opacity: 1}
    }
    @-moz-keyframes showUp {
        0% {opacity: 0}
        100% {opacity: 1}
    }
    @-webkit-keyframes showUp {
        0% {opacity: 0}
        100% {opacity: 1}
    }
    
}


.descItem {
    display: none;
}

.descItemshow {
    display: flex;
}




@keyframes grow {
    0% {width: 0; height: 0; visibility:hidden;}
    100% {width: 100vw; height: inherit; visibility: visible;}
}
@-webkit-keyframes grow {
    0% {width: 0; height: 0; visibility:hidden;}
    100% {width: 100vw; height: inherit; visibility: visible;}
}
@-moz-keyframes grow {
    0% {width: 0; height: 0; visibility:hidden;}
    100% {width: 100vw; height: inherit; visibility: visible;}
}
@-o-keyframes grow {
    0% {width: 0; height: 0; visibility:hidden;}
    100% {width: 100vw; height: inherit; visibility: visible;}
}

.active {
    visibility: visible;
    // transition: visibility 1s linear;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  position: relative;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
