nav {
    height: 3rem;
    background-color: #0c0c0c;
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    float: right;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    background: #C02044;
    padding: 10px;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid transparent;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

a:hover {
    color: #000;
}

nav ul li {
    display: inline-flex;
    margin: 20px;
}

.nav .active a {
    color: #000;
    border-bottom: 1px solid slateblue;
}

.nav .active a:hover {
    border-color: transparent;
    color: white;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.first-layout {
    width: 100%;
    display: table;
}
